pupil_labs_realtime_api
pytz
questionary
requests
rich
textual
textual-dev
urllib3
websockets
tqdm
scikit-learn
scipy
Flask==3.0.1
pupil-labs-realtime-api==1.1.3
matplotlib>=3.1.3
matplotlib-inline
torch>=1.1.0
opencv-python>=4.1.2.30
numpy>=1.18.1
pandas
seaborn
st_dbscan
